doctype html
html(lang="en")

head
title Bibliothèque

body
    h1 Détails du livre
    each book in books_list
        li
            p ISBN : #{book.ISBN}
            p Titre : #{book.title}
            p Auteur  : #{book.author}
            p Date d'achat  : #{book.purchase_date}
            p Etat : #{book.condition}
            if book.categories
                p Thématiques :
                    ul
                        each category in book.categories
                            li #{category}
            else
                p Pas de thématiques définies pour ce livre
            if book.borrow
                p Prêt en cours :
                    ul
                        li Emprunteur : #{book.borrow.borrower}
                        li Date d'emprunt : #{book.borrow.borrow_date}
                form(action='/books/'+book._id+'/return', method='POST')
                    p Rendre le livre 
                        input(type="checkbox", name="return")
                    input(type="submit", value="Valider")
            else
                p Pas de prêt en cours
                form(action='/books/'+book._id+'/borrow', method='POST')
                    p Nom de l'emprunteur: 
                        input(type="text", name="borrower")
                    input(type="submit", value="Prêter")
            p
            a(href="/books/") Retour à la liste des livres