doctype html
html(lang="en")

head
title Bibliothèque

body
    h1 Catalogue de la bibliothèque
    ul
        each book in books_list
            li
                p ISBN : #{book.ISBN}
                p Titre : #{book.title}
                p Auteur  : #{book.author}
                p Thématiques : 
                    each category in book.categories
                        | #{category} 
                if book.borrow
                    p Pret en cours : #{book.borrow.borrower}
                else
                    p Pas de pret en cours

    form(action='/books/new', method='POST')
        p Saisir un nouveau livre
            p ISBN : 
                input(type="int", name="isbn")
            p Titre : 
                input(type="text", name="title")
            p Auteur : 
                input(type="text", name="author")
            p Thématique : 
                input(type="text", name="category")
        input(type="submit", value="submit")